* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --b-orange: hsl(31, 77%, 52%);
  --d-cyan: hsl(184, 100%, 22%);
  --vd-cyan: hsl(179, 100%, 13%);

  --white: hsla(0, 0%, 100%, 0.75);
  --vl-gray: hsl(0, 0%, 95%);
}

.col {
  padding: 2.8rem;
}
.sedans {
  background-color: var(--b-orange);
}

.suvs {
  background-color: var(--d-cyan);
}
.luxury {
  background-color: var(--vd-cyan);
}

a {
  text-decoration: none;
  font-family: "Lexend Deca";
  background-color: var(--white);
  border: 1px solid var(--white);
  padding: 1em;
  border-radius: 40px;
}

.sedans a {
  color: var(--b-orange);
}

.suvs a {
  color: var(--d-cyan);
}

.luxury a {
  color: var(--vd-cyan);
}
a:hover {
  background-color: transparent;
  color: var(--white);
}
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  max-width: 880px;
  border-radius: 8px;
  overflow: hidden;
}

.col h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  color: var(--white);
  margin: 2rem 0;
}

.col p {
  font-family: "Lexend Deca";
  color: var(--white);
  font-size: 15px;
  padding: 1rem 0;
  margin: 2rem 0;
}
.col span {
  display: inline-block;
  margin-top: 2rem;
}

@media screen and (max-width: 920px) {
  .container {
    width: 90%;
  }
  .col {
    padding: 2.8rem 2.2rem;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin: 60px auto;
    width: 70%;
    flex-direction: column;
  }
  .col span {
    margin-bottom: 2rem;
  }
}
